<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<h3>For Address</h3>
<p> <%= @presenter.address %></p>
<h3>Current Conditions</h3>
<ul>
  <% @presenter.ui_current_conditions.each do |data| %>
    <li><%= data %></li>
  <% end %>
</ul>

<h3> Hourly Information </h3>
<% hourly_info = @presenter.ui_days.first[:hour_data] %>
<div class="row">
  <div class="column">Time</div>
  <div class="column">Temperature</div>
  <div class="column">Precipitation percent</div>
  <div class="column">Conditions</div>
<% hourly_info.each do |info| %>
    <div class="column"><%= info[:date] %></div>
    <div class="column"><%= info[:temp] %></div>
    <div class="column"><%= info[:precipprob] %></div>
    <div class="column"><%= info[:conditions] %></div>
<% end %>
</div>

<h3> Day Information </h3>
<div class="weather-data-days">
  <%= ap @presenter.ui_days, :html => true %>
</div>


<% if Rails.env.development? %>
  <p> Shown in Development mode only (Response) </p>
  <p> uri: <%= @my_uri %> </p>
  <% if @weather_data.is_a?(Hash) %>
    <div class="weather-data-keys">
      <%= ap @weather_data.keys, :html => true %>
    </div>
    <div class="weather-data-list">
      <%= ap @weather_data, :html => true %>
    </div>
  <% else %>
    <div class="weather-data-bad-request">
      <%= @weather_data %>
    </div>
  <% end %>
<% end %>
<ul>
  <li>
    <%= link_to "Edit", edit_article_path(@article) %>
  </li>
  <li>
    <%= link_to "Destroy", article_path(@article),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </li>
</ul>
