<% info = presenter.ui_current_conditions %>
<% scope = [:views, :addresses, :current_conditions] %>
<p>
  <%= t("title_html", time: ui_in_zone_epoch(info[:time_epoch]), scope: scope) %>
</p>
<ul>
  <li><%= as_html(:temp, format_degrees(info[:temp])) %></li>
  <li><%= as_html(:feels_like, format_degrees(info[:feels_like])) %></li>
  <li><%= with_format(:humidity, info[:humidity]) %></li>
  <li><%= with_format(:precip_amount, info[:precip_amount].to_f) %></li>
  <li><%= with_format(:precip_probability, info[:precip_probability]) %></li>
</ul>
