<% high_low_info = presenter.ui_high_low_info %>
<% scope = [:views, :addresses, :high_low_conditions] %>
<% if high_low_info.present? %>
  <% temp = high_low_info[:temp] %>
  <h3><%= t("title", scope: scope) %></h3>
  <div class="row">
    <div class="column">&nbsp;</div>
    <div class="column"><%= t("col_current", scope: scope) %></div>
    <div class="column"><%= t("col_high", scope: scope) %></div>
    <div class="column"><%= t("col_low", scope: scope) %></div>
  </div>
  <div class="row">
    <div class="column"><%= t("row_temperature", scope: scope) %></div>
    <div class="column"><%= temp[:current] %></div>
    <div class="column"><%= temp[:max] %></div>
    <div class="column"><%= temp[:min] %></div>
  </div>
  <div class="row">
    <% feel = high_low_info[:feels_like] %>
    <div class="column"><%= t("row_feelslike", scope: scope) %></div>
    <div class="column"><%= feel[:current] %></div>
    <div class="column"><%= feel[:max] %></div>
    <div class="column"><%= feel[:min] %></div>
  </div>
<% end %>