<% high_low_rows = presenter.ui_high_low_conditions %>
<% scope = [:views, :addresses, :high_low_conditions] %>
<% if high_low_rows.present? %>
  <p><%= t("title_html", scope: scope) %></p>
  <div class="row">
    <div class="column"><%= t("col_type_html", scope: scope) %>&nbsp;</div>
    <div class="column"><%= t("col_mean", scope: scope) %></div>
    <div class="column"><%= t("col_high", scope: scope) %></div>
    <div class="column"><%= t("col_low", scope: scope) %></div>
  </div>
  <% high_low_rows.each do |title, cols| %>
    <div class="row">
      <div class="column"><%= t(title, scope: scope) %></div>
      <div class="column"><%= as_degrees(cols[:mean]) %></div>
      <div class="column"><%= as_degrees(cols[:high]) %></div>
      <div class="column"><%= as_degrees(cols[:low]) %></div>
    </div>
  <% end %>
<% end %>
