<p id="notice"><%= notice %></p>
<% scope = [:views, :addresses, :index] %>
<h1><%= t("title", scope: scope) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("col_address", scope: scope) %></th>
      <th><%= t("col_as_of", scope: scope) %></th>
      <th><%= t("col_temp", scope: scope) %></th>
      <th><%= t("col_feelslike", scope: scope) %></th>
      <th><%= t("col_precipprob", scope: scope) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <% info = VisualCrossing::Presenter.on_index(address) %>
        <td><%= address.resolved_as %></td>
        <td><%= last_updated_at(address) %></td>
        <td><%= as_degrees(info[:temp]) %></td>
        <td><%= as_degrees(info[:feels_like]) %></td>
        <td><%= as_precip_probability(info[:precip_probability])%></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= button_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
