<p id="notice"><%= notice %></p>
<% scope = [:views, :addresses, :index] %>
<h1>Current Weather At</h1>

<table>
  <thead>
    <tr>
      <th><%= t("col_address", scope: scope) %></th>
      <th><%= t("col_as_of", scope: scope) %></th>
      <th><%= t("col_temp", scope: scope) %></th>
      <th><%= t("col_feelslike", scope: scope) %></th>
      <th><%= t("col_precipprob", scope: scope) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <% current_conditions = VisualCrossing::Presenter.on_index(address) %>
        <td><%= address.resolved_as %></td>
        <td><%= ui_in_time_zone(address.generated_at) %></td>
        <td><%= current_conditions[0] %></td>
        <td><%= current_conditions[1] %></td>
        <td><%= current_conditions[2] %>%</td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= button_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
