<p id="notice"><%= notice %></p>

<%= link_to 'Back', addresses_path %>
<p> cache refreshed:<%= @address.cache_refreshed? %></p>
<!--<p> generated_at:<%#= ui_in_time_zone(@address.generated_at) %></p>-->
<!--<p>   updated_at:<%#= ui_in_time_zone(@address.updated_at) %></p>-->

<p><%= address_title %></p>
<p><%= @presenter.weather_data["description"] %></p>

<%= render 'current_conditions', presenter: @presenter %>

<%= render 'high_low_conditions', presenter: @presenter %>

<%= render 'hourly_information', presenter: @presenter %>

<%= render 'for_debug', presenter: @presenter  %>
