<p id="notice"><%= notice %></p>

<%= link_to 'Back', addresses_path %>

<p><%= address_title %></p>

<%= render 'current_conditions', presenter: @presenter %>

<%= render 'high_low_conditions', presenter: @presenter %>

<%= render 'hourly_information', presenter: @presenter %>

<%= render 'for_debug', presenter: @presenter  %>
