<p id="notice"><%= notice %></p>
<% @zone = @presenter.time_zone %>

<%= link_to 'Back', addresses_path %>
<% dump = false %>
<% if dump %>
  <ul>
    <li>cache refreshed:<%= @address.cache_refreshed? %> generated as
      of <%= ui_in_time_zone_eastern(@address.generated_at) %></li>
    <% datetime = @presenter.weather_data["currentConditions"]["datetime"] %>
    <% epoch = @presenter.weather_data["currentConditions"]["datetimeEpoch"] %>
    <li><%= "Zone:#{@zone}, datetime:#{datetime}, epoch:#{epoch}" %></li>
    <li> raw_datetime: <%= @presenter.weather_data["currentConditions"]["datetime"] %></li>
    <li> raw_epoch: <%= @presenter.weather_data["currentConditions"]["datetimeEpoch"] %></li>

    <li> datetimeEpoch: <%= ui_in_zone_epoch(epoch) %></li>
    <li> datetime: <%= ui_in_zone_hour(datetime) %></li>
    <li> current: <%= Time.current.in_time_zone(@zone).strftime("%l:%M %P %Z") %></li>
  </ul>
<% end %>

<p><%= title_address %></p>
<p><%= @presenter.weather_data["description"] %></p>

<%= render 'current_conditions', presenter: @presenter %>

<%= render 'high_low_conditions', presenter: @presenter %>

<%= render 'hourly_information', presenter: @presenter %>

<%= render 'for_debug', presenter: @presenter %>
